@media only screen and (max-width: 800px) {
    body {
        background-color: rgb(7, 39, 49);
    }

    .content_section {
        padding: 4px;
    }

    .logo_text {
        font-size: 10px;
    }

    .navigation_text {
        font-size: 10px;
    }

    .content_inner {
        margin: 1px;
    }

    .intro_text_section_a {
        display: flex;
        flex-wrap: wrap;
        margin: 13px;
    }


    .name {
        font-size: 25px;
    }

    .name_text_section {
        margin-bottom: 20px;

    }

    .Description {
        font-size: 18px;
    }

    .dp_photo {
        width: 20dvh;
        border-radius: 50%;
    }

    /* about */

    .content_head_text {
        font-size: 18px;
    }

    .content_body_text_section {
        margin-left: 8px;
    }

    .content_body_text {
        font-size: 13px;
    }

    .about_section {
        margin-left: 12px;
        margin-right: 12px;
    }

    /* skill */

    .skill_section {
        margin-left: 12px;
        margin-right: 12px;
    }

    .skill_body_text_section {
        display: flex;
        justify-content: center;
    }

    .skill_name {
        margin: 4px;
    }

    .skill_text {
        font-size: 12px;
    }

    .skill_bar {
        width: 70dvw;
    }

    .skill_level {
        font-size: 8px;
        padding-right: 8px;
    }

    /* project */

    .project_section {
        margin-left: 12px;
        margin-right: 12px;
    }


    .project_title {
        font-size: 12px;
    }

    .project_description {
        font-size: 8px;
    }


    .more_project_inner {
        margin-left: 10%;
        margin-right: 10%;
    }

    /* contact */

    .contact_me_form_section {
        margin: 4px;
        padding: 10px;
    }

    .qustion_section {
        margin: 8px;
    }


    .qst {
        font-size: 10px;
    }


    .ans_field {
        padding: 4px;
        width: 60dvw;
    }

    .ans_field::placeholder {
        font-size: 8px;
    }


    .submit_button {
        padding: 8px;
        font-size: 10px;
    }

    .follow_section {
        margin-left: 12%;
        margin-right: 12%;
    }

    footer {
        margin-bottom: 20px;
    }
}